<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ljl.demo.mapper.ProductMapper">

    <select id="selectByPrimaryKey" resultType="cn.ljl.demo.domain.Product">
        SELECT * from product
    </select>
</mapper>